html {
    background-color: #fbfbfb;
}

body {
    background-color: transparent;
}

table {
    background-color: $white;
}

.breadcrumb {
    border: 0;
    background: transparent;
    padding-left: 0;
}
h1 {
    margin-bottom: $spacer * 3;
}
.accordion {
    > .card {
        margin: $spacer 0;
        border: 0;
        > .card-header {
            padding: 0;
            border: 0;
        }
        .card-header button {
            padding: $spacer * 0.5;
            width: 100%;
            text-align: left;
            border: 0;
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                border-bottom: 1px solid;
                border-right: 1px solid;
                transform: rotate(225deg);
                position: absolute;
                right: $spacer;
                top: $spacer;
            }
            &.collapsed::after {
                transform: rotate(45deg);
                top: $spacer * 0.5;
            }
        }
        .card-body {
            padding: $spacer * 0.5 0;
        }
    }
}

.inline-definition {
    dt, dd { 
        float: left;
        margin-bottom: 0.5rem;
    }
    dt { 
        clear:both; 
        margin-right: 0.5rem;
    }
}

.col-form-label {
    text-align: right;
}

.action-card {
    box-shadow: 0 0 5px $gray-200;
    background-color: $white;
    margin-bottom: 30px;
    overflow: hidden;

    h2, h3 {
        margin-top: 15px;
    }
}

.loader-data:empty {
    background-color: red;
}

.col-form-label {
    text-align: left; 
    @media (min-width: 576px) {
        text-align: right; 
    }
}