<div class="table-container">
  <table class="table table-striped mt-5">
    <thead>
        <tr>
          <th>Ile?</th>
          <th>Nazwa</th>
          <th>Wariant</th>
          <th>Cena</th>
          <th *ngFor="let customField of action.customFields">{{ customField.name }}</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of action.products">
        <td>{{countOrders(product)}}</td>
        <td>{{product.name}}</td>
        <td [innerHtml]="pfHelper.checkText(product.variant)"></td>
        <td><app-price [price]="product.price" [discount]="action.discount"></app-price></td>
        <td *ngFor="let customField of action.customFields">
          <span *ngIf="product.customFields" [innerHtml]="pfHelper.checkText(product.customFields[customField.id])"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>