<div *ngIf="mode == 'new' || action">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item" *ngIf="mode != 'new'"><a routerLink="/actions">Akcje</a></li>
      <li class="breadcrumb-item active" *ngIf="mode != 'new'"><a routerLink="/action/{{action.id}}">{{ action.name }}</a></li>
      <li class="breadcrumb-item active" *ngIf="mode == 'new'" aria-current="page">Nowa akcja</li>
      <li class="breadcrumb-item active" *ngIf="mode == 'duplicate'" aria-current="page">Duplikat</li>
      <li class="breadcrumb-item active" *ngIf="mode == 'edit'" aria-current="page">Edycja</li>
    </ol>
  </nav>

  <h1 *ngIf="mode == 'new'">Nowa akcja</h1>
  <h1 *ngIf="mode == 'duplicate'">Duplikowanie akcji "{{action.name}}"</h1>
  <h1 *ngIf="mode == 'edit'">Edycja akcji "{{action.name}}"</h1>

  <p *ngIf="showError" class="alert alert-danger">{{ showError }}</p>
    <div ngbNav #actionTabs="ngbNav" class="nav-tabs large-tabs">
      <div ngbNavItem>
        <a ngbNavLink>Szczegóły</a>
        <ng-template ngbNavContent>
          <form [formGroup]="actionForm" (ngSubmit)="onSubmit()">
          <div formGroupName="newaction">
            <input type="hidden" formControlName="id">

            <div form-input [ngClass]="validationClass('name')" name="name" label="Nazwa (wymagane)">
              <input type="text" formControlName="name" class="form-control" id="newacion-name" placeholder=""
                [ngClass]="validationClass('name')">
              <div class="invalid-feedback" *ngIf="actionForm.get('newaction').get('name').errors">
                Nazwa jest wymagana
              </div>
            </div>
            <div form-input name="photo" label="Zdjęcia">
              <div class="row">
                <div class="col-sm-10 col-md-6" *ngIf="!action || action?.photos?.length === 0">
                  <input type="file" formControlName="photo" class="form-control" id="newacion-photo"
                    accept="image/*" (change)="onFileChange($event)" />
                </div>
                <div class="col-sm-10 col-md-8" *ngIf="action?.photos?.length > 0">
                  <div class="row">
                    <div class="col-6 col-sm-4"><img class="img-fluid" src="{{action.photoUrl}}"></div>
                    <div class="col-sm-8">
                      <p>Zmień zdjęcie:</p>
                      <input type="file" formControlName="photo" class="form-control" id="newacion-photo"
                      accept="image/*" (change)="onFileChange($event)" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div form-input name="dateorder" label="Data zamawiania (wymagane)" [ngClass]="validationClass('orderDate')">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" id="dateorder" name="newacion-dateorder"
                  [ngClass]="validationClass('orderDate')"
                  formControlName="orderDate" ngbDatepicker #newacionDateorder="ngbDatepicker" [minDate]="minDate">
                <div class="input-group-append">
                  <button class="btn calendar" (click)="newacionDateorder.toggle()" type="button">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </div>&nbsp;
                <ngb-timepicker formControlName="orderTime" [spinners]="false"></ngb-timepicker>
              </div>
              <div class="invalid-feedback">
                Data jest wymagana i musi być z przyszłości
              </div>
            </div>
            <div form-input name="datepay" label="Data opłacenia (wymagane)" [ngClass]="validationClass('payDate')">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" id="newacion-datepay" name="newacion-datepay"
                  [ngClass]="validationClass('payDate')"
                  formControlName="payDate" ngbDatepicker #newacionDatepay="ngbDatepicker" [minDate]="minDate">
                <div class="input-group-append">
                  <button class="btn calendar" (click)="newacionDatepay.toggle()" type="button">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </div>&nbsp;
                <ngb-timepicker formControlName="payTime" [spinners]="false"></ngb-timepicker>
              </div>
              <div class="invalid-feedback">
                Data jest wymagana i musi być z przyszłości
              </div>
            </div>
            <div form-input name="payLock" label="Zablokuj płatności (płatność na znak)">
              <div class="form-check">
                  <input  id="newacion-payLock" type="checkbox" class="form-check-input" formControlName="payLock">
              </div>
            </div>
            <div form-input name="datecollection" label="Data odbioru (wymagane)" [ngClass]="validationClass('collectionDate')">
              <div class="input-group">
                <input class="form-control" [ngClass]="validationClass('collectionDate')"
                  placeholder="yyyy-mm-dd" name="newacion-datecollection"
                  id="newacion-datecollection" formControlName="collectionDate" ngbDatepicker
                  #newacionDatecollection="ngbDatepicker" [minDate]="minDate">
                <div class="input-group-append">
                  <button class="btn calendar" (click)="newacionDatecollection.toggle()" type="button">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </div>&nbsp;
                <ngb-timepicker formControlName="collectionTime" [spinners]="false"></ngb-timepicker>
              </div>
              <div class="invalid-feedback">
                Data jest wymagana i musi być z przyszłości
              </div>
            </div>
            <div form-input name="description" label="Opis">
              <ckeditor [editor]="Editor" formControlName="description" [config]="toolbarConfig"></ckeditor>
            </div>
            <div form-input name="rules" label="Zasady">
              <ckeditor [editor]="Editor" formControlName="rules"
                placeholder="Czy obowiązują jakieś specjalne zasady lub ograniczenia?" [config]="toolbarConfig"></ckeditor>
            </div>
            <div form-input name="collection" label="Możliwy odbiór">
              <ckeditor [editor]="Editor" formControlName="collection" placeholder="Można odebrać gdzieś wcześniej/później? Gdzie?" [config]="toolbarConfig"></ckeditor>
            </div>
            <div form-input name="payment" label="Płatność">
              <ckeditor [editor]="Editor" formControlName="payment" placeholder="Można odebrać gdzieś wcześniej/później? Gdzie?" [config]="toolbarConfig"></ckeditor>
            </div>
            <div form-input name="productsEditable" label="Zamawiający mogą dodawać swoje producty?">
              <div class="form-check">
                  <input  id="newacion-productsEditable" type="checkbox" class="form-check-input" formControlName="productsEditable">
              </div>
            </div>
            <div form-input name="productcost" label="Stałe koszty (dostawa)">
              <input type="number" min="0" formControlName="cost" class="form-control" id="newacion-productcost" placeholder="Dostawa" [ngClass]="validationClass('cost')">
              <div class="invalid-feedback">
                Koszy musi być większa niż 0 i mieć maksymalnie 2 liczby po przecinku.
              </div>
            </div>
            <div form-input name="productdiscount" label="Rabat">
              <input type="number" min="0" formControlName="discount" class="form-control" id="newacion-productdiscount" placeholder="Zniżka (w %)" [ngClass]="validationClass('discount')">
              <div class="invalid-feedback">
                Koszy musi być większa niż 0 i mieć maksymalnie 2 liczby po przecinku.
              </div>
            </div>
          </div>
          </form>
          <koo-helpers [helpers]="action.helpers"></koo-helpers>
        </ng-template>
      </div>
      <div ngbNavItem>
        <a ngbNavLink>Produkty</a>
        <ng-template ngbNavContent>
          <h2 class="mt-5 mb-3">
            Produkty
            <div class="float-right">
              <button class="btn btn-primary" (click)="openProductFieldModal()"><i class="fas fa-pencil-alt"></i> Edytuj pola</button>
            </div>
          </h2>

          <table class="table table-striped" *ngIf="products && products.length > 0">
            <thead>
              <th>Produkt</th>
              <th>Wariant (czerwony, 1kg, 1l)</th>
              <th>Cena</th>
              <ng-container><th *ngFor="let field of customFields">{{ field.name }}</th></ng-container>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let product of products; let i = index">
                <td>{{ product.name }}</td>
                <td [innerHtml]="pfHelper.checkText(product.variant)"></td>
                <td>{{ product.price | price }}</td>
                <td *ngFor="let field of customFields">
                  <span *ngIf="product.customFields" [innerHtml]="pfHelper.checkText(product.customFields[field.id])"></span></td>
                <td>
                  <button class="btn btn-primary" (click)="editProduct(i)">
                    <i class="fas fa-pencil-alt"></i>
                  </button>&nbsp;
                  <button class="btn btn-danger" (click)="removeProduct(i)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="!products || products.length === 0" class="alert alert-info">
            Nie ma jeszcze żadnych produktów. Dodaj w formularzu poniżej lub <button class="btn btn-outline-secondary" (click)="importFromFile()">zaimportuj z pliku</button>
          </div>

          <div class="form-group row" formGroupName="newproduct">
            <div class="col-12 mb-3">{{actionForm.get('newproduct').errors}}</div>
            <div class="col-sm-4 mb-3" [ngClass]="validationClassProduct('name')">
              <label for="newacion-productname" class="sr-only">Nazwa produktu</label>
              <input type="text" formControlName="name" class="form-control" id="newacion-productname"  [ngClass]="validationClassProduct('name')"
                placeholder="Nazwa produktu">
                <div class="invalid-feedback">
                  Nazwa jest wymagana
                </div>
            </div>
            <div class="col-sm-4 mb-3">
              <label for="newacion-productvariant" class="sr-only">Wariant</label>
              <input type="text" formControlName="variant" class="form-control" id="newacion-productvariant"
                placeholder="Wariant">
            </div>
            <div class="col-sm-4 mb-3">
              <label for="newacion-productprice" class="sr-only">Cena</label>
                <input type="number" min="0" formControlName="price" class="form-control" id="newacion-productprice" placeholder="Cena" [ngClass]="validationClassProduct('price')">
                <div class="invalid-feedback">
                  Cena jest wymagana, musi być większa niż 0 i mieć maksymalnie 2 liczby po przecinku.
                </div>
            </div>
            <div formGroupName="customFields" class="col-12">
              <div class="row">
                <div class="col-sm-4 mb-3" *ngFor="let customField of customFields">
                  <label for="newacion-productprice" class="sr-only">{{ customField.name }}</label>
                  <input type="text" [formControlName]="customField.id" class="form-control" id="newacion-productprice" [placeholder]="customField.name">
                </div>
              </div>
            </div>
            <div class="col-sm-2"><button type="button" class="btn btn-secondary" (click)="addNewProduct()" [disabled]="!actionForm.get('newproduct').valid">
              Dodaj produkt</button></div>
          </div>
        </ng-template>
      </div>
    </div>
    <div [ngbNavOutlet]="actionTabs"></div>

    <div class="submit-container">
      <button type="button" [disabled]="!actionForm.get('newaction').valid" class="btn btn-primary" (click)="onSubmit()">
        <i *ngIf="submitLoader" class="fas fa-circle-notch fa-spin"></i>
        <i *ngIf="!submitLoader" class="fas fa-save"></i> Zapisz akcję
      </button>
    </div>
</div>