<div *ngIf="action">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/actions">Akcje</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ action.name }}</li>
        </ol>
    </nav>

    <h1>
        {{ action.name }}
        <div class="float-right">
            <a routerLink="/action/{{action.id}}/duplicate" class="btn btn-success">
                <i class="fas fa-copy"></i> Duplikuj akcje
            </a> &nbsp;
            <a routerLink="/action/{{action.id}}/edit" class="btn btn-success" *ngIf="auth.currentUser && auth.currentUser.id === action.createdBy.id">
                <i class="fas fa-pencil-alt"></i> Edytuj akcje
            </a> 
        </div>
    </h1>

    <div class="row">
        <div class="col-md-4">
            <img src="{{action.photoUrl }}" class="img-fluid" alt="Zdjęcie {{action.name}}">
        </div>
        <div class="col-md-8">
            <dl class="inline-definition">
                <dt *ngIf="action.createdBy">Utworzona przez:</dt>
                <dd *ngIf="action.createdBy">{{ action.createdBy.name }}<span *ngIf="action.createdOn">, {{ dateHelper.prettyDate(action.createdOn) }}</span></dd>
                <dt>Zamówienia do:</dt>
                    <dd>{{ dateHelper.prettyDate(action.orderDate) }}</dd>
                <dt>Płacimy do:</dt>
                    <dd>{{ dateHelper.prettyDate(action.payDate) }}</dd>
                <dt>Odbieramy:</dt>
                    <dd>{{ dateHelper.prettyDate(action.collectionDate) }}</dd>
                <dt>Można już płacić?</dt>
                    <dd>{{ action.payLock ? "Nie" : "Tak"}}</dd>
            </dl>
        </div>
    </div>
    <ngb-accordion #acc="ngbAccordion" activeIds="">
        <ngb-panel title="Opis">
            <ng-template ngbPanelContent >
            <div [innerHtml]="action.description"></div>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Zasady">
            <ng-template ngbPanelContent>
                <div [innerHtml]="action.rules"></div>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Możliwy odbiór">
            <ng-template ngbPanelContent>
                <div [innerHtml]="action.collection"></div>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Płatność">
            <ng-template ngbPanelContent>
                <div [innerHtml]="action.payment"></div>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Pomagają">
            <ng-template ngbPanelContent>
                <ul>
                    <li *ngFor="let helper of action.helpers">{{helper.name}} {{helper.description}}</li>
                </ul>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <h2 class="mt-5">
        Produkty

        <div class="float-right" >
            <a routerLink="/action/{{action.id}}/order" class="btn btn-success">
                <i class="fas fa-gift"></i> Zamów
            </a> &nbsp;
            <a routerLink="/action/{{action.id}}/orders" class="btn btn-primary">
                <i class="fas fa-th-list"></i> Zobacz wszystkie zamówienia
            </a> 
        </div>
    </h2>
    <p *ngIf="action.payLock" class="alert alert-danger">
        Akcja ma zablokowane płaności na razie. Może to oznaczać, że ceny mogą zostać jeszcze zmienione.
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Wariant</th>
                <th>Cena (zł)</th>
                <th *ngFor="let field of action.customFields">{{ field.name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of action.products">
                <td>{{ product.name }}</td>
                <td>{{ product.variant }}</td>
                <td>{{ product.price }}</td>
                <td *ngFor="let field of action.customFields"><span *ngIf="product.customFields">{{ product.customFields[field.id] }}</span></td>
            </tr>
        </tbody>
    </table>
</div>