<div *ngIf="action">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/actions">Akcje</a></li>
            <li class="breadcrumb-item active"><a routerLink="/action/{{ action.id }}">{{ action.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Zamówienia</li>
        </ol>
    </nav>

    <h1 class="mb-1">Zamówienia do akcji {{ action.name }}</h1>
    <p *ngIf="action.createdBy"><strong>Organizator:</strong> {{action.createdBy.name}}</p>
    <p>
        <span *ngIf="action.payLock">Jeszcze nie płacimy</span>
        <span *ngIf="!action.payLock" [innerHtml]="action.payment"></span>
    </p>
    <p>
        <span title="{{ dateHelper.prettyLongDate(action.orderDate) }}"><strong>Zamówienia do:</strong> {{ dateHelper.prettyShortDate(action.orderDate) }}</span>,&nbsp;
        <span title="{{ dateHelper.prettyLongDate(action.payDate) }}"><strong>Płacimy do:</strong> {{ dateHelper.prettyShortDate(action.payDate) }}</span>,&nbsp;
        <span title="{{ dateHelper.prettyLongDate(action.collectionDate) }}"><strong>Odbieramy:</strong> {{ dateHelper.prettyShortDate(action.collectionDate) }}</span>
    </p>
    <p *ngIf="action.helpers"><span *ngFor="let helper of action.helpers"><strong>{{helper.name}}</strong> {{helper.description}} </span></p>

    <ngb-tabset [destroyOnHide]="false" class="large-tabset" *ngIf="orders && orders.length > 0">
        <ngb-tab title="Zamówienia w kolumnie">
            <ng-template ngbTabContent>
                <div class="table-container">
                    <table class="table table-striped mt-5">
                        <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th>Wariant</th>
                                <th>Cena</th>
                                <th *ngFor="let customField of action.customFields">{{ customField.name }}</th>
                                <th *ngFor="let order of orders">{{order.ownerName}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of action.products">
                                <td>{{product.name}}</td>
                                <td>{{product.variant}}</td>
                                <td>{{product.price}}</td>
                                <td *ngFor="let customField of action.customFields">
                                    <span *ngIf="product.customFields">{{ product.customFields[customField.id] }}</span>
                                </td>
                                <td *ngFor="let order of orders">{{ order.products[product.id] }}</td>
                            </tr>
                            <tr>
                                <td [attr.colspan]="3 + action.customFields.length">Odbiera</td>
                                <td *ngFor="let order of orders">{{ order.pickerName }}</td>
                            </tr>
                            <tr>
                                <td [attr.colspan]="3 + action.customFields.length">Suma</td>                   
                                <td *ngFor="let order of orders"><strong>{{ sums[order.id] }}zł</strong></td>
                            </tr>
                            <tr>
                                <td [attr.colspan]="3 + action.customFields.length"></td> 
                                <ng-container *ngFor="let order of orders">
                                    <!-- komórki z informacją dla wszystkich -->
                                    <td class="bg-success" *ngIf="!actionEditor && order.paid == sums[order.id]">
                                        <i class="fas fa-check"></i> Zapłacone
                                    </td>
                                    <td class="bg-danger" *ngIf="!actionEditor && order.paid != sums[order.id]">
                                        <i class="fas fa-times"></i>
                                        Nie zapłacone
                                    </td>
                                    <!-- komórki dla właściciela i pomagaczy -->
                                    <td *ngIf="actionEditor">
                                        <button *ngIf="order.paid == sums[order.id]" class="btn btn-success">
                                            <i class="fas fa-check"></i> Zapłacone
                                        </button>
                                        <button *ngIf="order.paid != sums[order.id]" class="btn btn-danger">
                                            <i class="fas fa-times"></i> Nie zapłacone
                                        </button>
                                    </td>
                                </ng-container>
                            </tr>
                            <tr>
                                <td [attr.colspan]="3 + action.customFields.length"></td> 
                                <ng-container *ngFor="let order of orders">
                                    <!-- komórki z informacją dla wszystkich -->
                                    <td class="bg-success" *ngIf="!actionEditor && order.picked">
                                        <i class="fas fa-check"></i> Odebrane
                                    </td>
                                    <td class="bg-danger" *ngIf="!actionEditor && !order.picked">
                                        <i class="fas fa-times"></i> Nie odebrane
                                    </td>
                                    <td *ngIf="actionEditor">
                                        <button *ngIf="order.picked" class="btn btn-success" (click)="orderPicked(order)">
                                            <i class="fas fa-check"></i> Odebrane
                                        </button>
                                        <button *ngIf="!order.picked" class="btn btn-danger" (click)="orderPicked(order)">
                                            <i class="fas fa-times"></i> Nie odebrane
                                        </button>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Zamówienia w wierszu">
            <ng-template ngbTabContent>
                <div class="table-container">
                    <table class="table table-striped mt-5">
                        <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th *ngFor="let product of action.products">{{product.name}}</th>
                                <th rowspan="3">Odbiera</th>
                                <th rowspan="3">Suma</th>
                                <th rowspan="3">Zapłacone</th>
                                <th rowspan="3">Odebrane</th>
                            </tr>
                            <tr>
                                <th>Wariant</th>
                                <th *ngFor="let product of action.products">{{product.variant}}</th>
                            </tr>
                            <tr>
                                <th>Cena</th>
                                <th *ngFor="let product of action.products">{{product.price}}</th>
                            </tr>
                            <tr *ngFor="let customField of action.customFields">
                                <th>{{ customField.name }}</th>
                                <th *ngFor="let product of action.products"><span *ngIf="product.customFields">{{ product.customFields[customField.id] }}</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders">
                                <td>{{order.ownerName}}</td>
                                <td *ngFor="let product of action.products">{{ order.products[product.id] }}</td>
                                <td>{{ order.pickerName }}</td>
                                <td><strong>{{ sums[order.id] }}zł</strong></td>

                                <!-- komórki z informacją dla wszystkich -->
                                <td class="bg-success" *ngIf="!actionEditor && order.paid == sums[order.id]">
                                    <i class="fas fa-check"></i> Zapłacone
                                </td>
                                <td class="bg-danger" *ngIf="!actionEditor && order.paid != sums[order.id]">
                                    <i class="fas fa-times"></i> Nie zapłacone
                                </td>
                                <td class="bg-success" *ngIf="!actionEditor && order.picked">
                                    <i class="fas fa-check"></i> Odebrane
                                </td>
                                <td class="bg-danger" *ngIf="!actionEditor && !order.picked">
                                    <i class="fas fa-times"></i> Nie odebrane
                                </td>
                                
                                <!-- komórki dla właściciela i pomagaczy -->
                                <td *ngIf="actionEditor">
                                    <button *ngIf="order.paid == sums[order.id]" class="btn btn-success">
                                        <i class="fas fa-check"></i> Zapłacone
                                    </button>
                                    <button *ngIf="order.paid != sums[order.id]" class="btn btn-danger">
                                        <i class="fas fa-times"></i> Nie zapłacone
                                    </button>
                                </td>
                                <td *ngIf="actionEditor">
                                    <button *ngIf="order.picked" class="btn btn-success" (click)="orderPicked(order)">
                                        <i class="fas fa-check"></i> Odebrane
                                    </button>
                                    <button *ngIf="!order.picked" class="btn btn-danger" (click)="orderPicked(order)">
                                        <i class="fas fa-times"></i> Nie odebrane
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>


    <p *ngIf="orders && orders.length === 0" class="alert alert-info">Nie ma jeszcze zamówień</p>
</div>