<div *ngIf="action">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/actions">Akcje</a></li>
            <li class="breadcrumb-item active"><a routerLink="/action/{{ action.id }}">{{ action.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Zamówienia</li>
        </ol>
    </nav>

    <h1 class="mb-1">Zamówienia do akcji {{ action.name }}</h1>
    <p *ngIf="action.createdBy"><strong>Organizator:</strong> {{action.createdBy.name}}</p>
    <p>
        <span *ngIf="action.payLock">Jeszcze nie płacimy</span>
        <span *ngIf="!action.payLock" [innerHtml]="action.payment"></span>
    </p>
    <p>
        <span title="{{ dateHelper.prettyLongDate(action.orderDate) }}"><strong>Zamówienia do:</strong> {{ dateHelper.prettyShortDate(action.orderDate) }}</span>,&nbsp;
        <span title="{{ dateHelper.prettyLongDate(action.payDate) }}"><strong>Płacimy do:</strong> {{ dateHelper.prettyShortDate(action.payDate) }}</span>,&nbsp;
        <span title="{{ dateHelper.prettyLongDate(action.collectionDate) }}"><strong>Odbieramy:</strong> {{ dateHelper.prettyShortDate(action.collectionDate) }}</span>
    </p>
    <p *ngIf="action.helpers"><span *ngFor="let helper of action.helpers"><strong>{{helper.name}}</strong> {{helper.description}} </span></p>

    <div *ngIf="orders && orders.length > 0">
      <ul ngbNav #ordersTabs="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>Zamówienia w kolumnie</a>
          <ng-template ngbNavContent>
            <app-column-view [action]="action" [orders]="orders" [sums]="sums" [actionEditor]="actionEditor" [orderPicked]="orderPicked" [orderPayed]="orderPayed"></app-column-view>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Zamówienia w wierszu</a>
          <ng-template ngbNavContent>
            <app-row-view [action]="action" [orders]="orders" [sums]="sums"></app-row-view>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Paragony</a>
          <ng-template ngbNavContent>
            <app-checks-view [action]="action" [orders]="orders" [sums]="sums"></app-checks-view>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Podsumowanie</a>
          <ng-template ngbNavContent>
            <app-summary-view [action]="action" [orders]="orders" [sums]="sums"></app-summary-view>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="ordersTabs"></div>
    </div>

    <p *ngIf="orders && orders.length === 0" class="alert alert-info">Nie ma jeszcze zamówień</p>
</div>