<div *ngIf="action">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/actions">Akcje</a></li>
            <li class="breadcrumb-item active"><a routerLink="/action/{{ action.id }}">{{ action.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nowe zamówienie</li>
        </ol>
    </nav> 

    <h1>Nowe zamówienie do akcji {{ action.name }}
        <div class="float-right">
            <a (click)="remove(deleteModal)" class="btn btn-danger text-light" *ngIf="order?.id">
                <i class="fas fa-trash-alt"></i> Usuń zamówienie
            </a>
        </div> 
    </h1>
            
    <p *ngIf="action.payLock" class="alert alert-danger">
        Akcja ma zablokowane płaności na razie. Może to oznaczać, że ceny mogą zostać jeszcze zmienione.
    </p>
    <p *ngIf="disabled" class="alert alert-danger">
        Nie można już zamawiać :(
    </p>
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id">
        <table class="table" formGroupName="products">
            <thead>
                <tr>
                    <th>Nazwa</th> 
                    <th>Wariant</th>
                    <th>Cena (zł)</th>
                    <th *ngFor="let field of action.customFields">{{ field.name }}</th>
                    <th>Zamawiam</th>
                </tr>
            </thead>
            <tr *ngFor="let product of action.products">
                <td>{{product.name}}</td>
                <td [innerHtml]="pfHelper.checkText(product.variant)"></td>
                <td>{{product.price | price}}</td>
                <td *ngFor="let field of action.customFields">
                    <span *ngIf="product.customFields" [innerHtml]="pfHelper.checkText(product.customFields[field.id])"></span>
                </td>
                <td><input type="number" min="0" formControlName="{{product.id}}" class="form-control" [attr.disabled]="disabled ? '' : null"></td>
            </tr>
            <tr>
                <td [attr.colspan]="3 + action.customFields.length" class="text-right">W sumie:</td>
                <td>{{ sumOrder | price }}zł</td>
            </tr>

            <tr *ngIf="action.productsEditable && !disabled">
                <td [attr.colspan]="4 + action.customFields.length"><div class="alert alert-primary text-center">
                    Można dodawać swoje produkty:&nbsp;
                    <button class="btn btn-primary" (click)="addProduct()">Dodaj produkt</button>
                </div></td>
            </tr>
        </table>   


        <div class="form-group row">
            <label for="picker" class="col-sm-2 col-form-label">Odbiera</label>
            <div class="col-sm-8">
                <koo-personpicker idname="picker" [group]="orderForm" controlName="picker" placeholder="Ktoś odbiera za ciebie?"></koo-personpicker>
            </div>
        </div>

        <div class="submit-container">
            <button type="submit" class="btn btn-primary">Zapisz zamówienie</button> 
        </div>
    </form>

</div>
<ng-template #deleteModal let-modal>
    <div class="modal-header">
      <h2 class="modal-title" id="modal-basic-title">Czy na pewno chcesz usunąć zamówienie?</h2>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>
            Masz czas do {{ dateHelper.prettyLongDate(action.orderDate) }} żeby ponownie złożyć zamówienie.
        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close(true)">Tak, usuń</button>
    </div>
  </ng-template>