<div class="table-container">
  <table class="table table-striped mt-5">
      <thead>
          <tr>
              <th>Nazwa</th>
              <th>Wariant</th>
              <th>Cena</th>
              <th *ngFor="let customField of action.customFields">{{ customField.name }}</th>
              <th *ngFor="let order of orders">{{order.ownerName}}</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let product of action.products">
              <td>{{product.name}}</td>
              <td [innerHtml]="pfHelper.checkText(product.variant)"></td>
              <td><app-price [price]="product.price" [discount]="action.discount"></app-price></td>
              <td *ngFor="let customField of action.customFields">
                  <span *ngIf="product.customFields" [innerHtml]="pfHelper.checkText(product.customFields[customField.id])"></span>
              </td>
              <td *ngFor="let order of orders">{{ order.products[product.id] }}</td>
          </tr>
          <tr>
              <td [attr.colspan]="3 + action.customFields.length">Odbiera</td>
              <td *ngFor="let order of orders">{{ order.pickerName }}</td>
          </tr>
          <tr>
              <td [attr.colspan]="3 + action.customFields.length">Suma (produkty + wysyłka)</td>                   
              <td *ngFor="let order of orders"><strong>
                  {{order.calculatedSum | price}}
              </strong></td>
          </tr>
          <tr>
              <td [attr.colspan]="3 + action.customFields.length"></td> 
              <ng-container *ngFor="let order of orders">
                  <app-mark-paid-order [order]="order" [actionEditor]="actionEditor" [orderPaid]="orderPaid"></app-mark-paid-order>
              </ng-container>
          </tr>
          <tr>
              <td [attr.colspan]="3 + action.customFields.length"></td> 
              <ng-container *ngFor="let order of orders">
                  <!-- komórki z informacją dla wszystkich -->
                  <td class="bg-success" *ngIf="!actionEditor && order.picked">
                      <i class="fas fa-check"></i> Odebrane
                  </td>
                  <td class="bg-danger" *ngIf="!actionEditor && !order.picked">
                      <i class="fas fa-times"></i> Nie odebrane
                  </td>
                  <td *ngIf="actionEditor">
                      <button *ngIf="order.picked" class="btn btn-success" (click)="orderPicked(order)">
                          <i class="fas fa-check"></i> Odebrane
                      </button>
                      <button *ngIf="!order.picked" class="btn btn-danger" (click)="orderPicked(order)">
                          <i class="fas fa-times"></i> Nie odebrane
                      </button>
                  </td>
              </ng-container>
          </tr>
      </tbody>
  </table>
</div>