<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="#">Kooperatywa Łódź</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" aria-controls="navbarText" aria-expanded="!isMenuCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="auth.user | async as user" class="collapse navbar-collapse" id="navbarText" [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/people">Użytkownicy</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/userqueue">Kolejka użytkowników</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/actions">Akcje</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/myorders">Moje zamówienia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/newaction">Nowa akcja</a>
        </li>
      </ul>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>{{ user.name }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem routerLink="/person/{{user.id}}">Zobacz mój profil</button>
          <button ngbDropdownItem (click)="logout()">Wyloguj</button>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>