<div *ngIf="auth.user | async as user; else showLogin">
    <h1>Cześć, {{user.name}}</h1>
    <p>Próbujesz się zalogować do Łódzkiej Kooperatywy. Jeśli jesteś w grupie na FB, daj znać adminowi, żeby Cię zaakceptował w systemie. </p>
    <p>Jeśli nie ma cię w grupie Kooperatywa Łódź na FB, poszukaj wśród znajomych kogoś kto mógłby cię w grupę kooperatywy wprowadzić.</p>
</div>

<ng-template #showLogin>
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <h1>Zaloguj się {{loader}}</h1>
            <p>Zaloguj się za pomocą konta na FB, które jest w grupie Kooperatywa Łódź</p>
            <button (click)="login()" class="btn btn-primary">
                <i *ngIf="loader" class="fas fa-circle-notch fa-spin"></i>
                <i *ngIf="!loader" class="fab fa-facebook-square"></i>
                Facebook login
            </button>
        </div>
    </div>
</ng-template>