<div *ngIf="auth.user | async as user; else showLogin">
    <h1>Cześć, {{user.displayName}}</h1>
    <p>Próbujesz się zalogować do Łódzkiej Kooperatywy. Jeśli jesteś w grupie na FB, daj znać adminowi, żeby Cię zaakceptował w systemie. </p>
    <p>Jeśli nie ma cię w grupie Kooperatywa Łódź na FB, poszukaj wśród znajomych kogoś kto mógłby cię w grupę kooperatywy wprowadzić.</p>
</div>

<ng-template #showLogin>
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <h1>Zaloguj się</h1>
            <p>Zaloguj się za pomocą konta na FB, które jest w grupie Kooperatywa Łódź</p>
            <button (click)="login()" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50" fill="#fff" style="null" class="icon icons8-Facebook-Filled" >    <path d="M40,0H10C4.486,0,0,4.486,0,10v30c0,5.514,4.486,10,10,10h30c5.514,0,10-4.486,10-10V10C50,4.486,45.514,0,40,0z M39,17h-3 c-2.145,0-3,0.504-3,2v3h6l-1,6h-5v20h-7V28h-3v-6h3v-3c0-4.677,1.581-8,7-8c2.902,0,6,1,6,1V17z"></path></svg>
                &nbsp;Facebook login
            </button>
        </div>
    </div>
</ng-template>