
<div class="modal-header">
    <h4 class="modal-title">Edytor produktu</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (submit)="save()">
        <div class="form-group row"> 
            <label for="productname" class="col-sm-4 col-form-label">Nazwa produktu</label>
            <div class="col-sm-8">
              <input type="text" formControlName="name" class="form-control" id="productname"  [ngClass]="validationClassProduct('name')"
                placeholder="Nazwa produktu">
                <div class="invalid-feedback">
                  Nazwa jest wymagana
                </div>
            </div>
        </div>
        <div class="form-group row"> 
            <label for="productvariant" class="col-sm-4 col-form-label">Wariant</label>
            <div class="col-sm-8">
                <input type="text" formControlName="variant" class="form-control" id="productvariant"
                    placeholder="Wariant">
            </div>
        </div>
        <div class="form-group row"> 
            <label for="productprice" class="col-sm-4 col-form-label">Cena</label>
            <div class="col-sm-8">
                <input type="number" min="0" formControlName="price" class="form-control" id="productprice" placeholder="Cena" [ngClass]="validationClassProduct('price')">
                <div class="invalid-feedback">
                    Cena jest wymagana, musi być większa niż 0 i mieć maksymalnie 2 liczby po przecinku.
                </div>
            </div>
        </div>
        <div formGroupName="customFields">
            <div *ngFor="let customField of fields" class="form-group row">
                <label for="product{{ customField.name }}" class="col-sm-4 col-form-label">{{ customField.name }}</label>
                <div class="col-sm-8">
                    <input type="text" [formControlName]="customField.id" class="form-control" id="product{{ customField.name }}" [placeholder]="customField.name">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="save()"><i class="fas fa-save"></i> Zapisz</button>
</div>