<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Nowa akcja</li>
    </ol>
</nav>

<h1>Nowa akcja</h1>

<form>
    <div class="form-group">
      <label for="newacion-name">Nazwa</label>
      <input type="text" class="form-control" id="newacion-name" placeholder="">
    </div>
    <div class="form-group">
      <label for="newacion-name">Link do zdjęcia</label>
      <input type="text" class="form-control" id="newacion-name" placeholder="">
    </div>
    <div class="form-group">
      <label for="newacion-name">Data zamawiania</label>
      <input type="text" class="form-control" id="newacion-name" placeholder="">
    </div>
    <div class="form-group">
      <label for="newacion-name">Data opłacenia</label>
      <input type="text" class="form-control" id="newacion-name" placeholder="">
    </div>
    <div class="form-group">
      <label for="newacion-name">Data odbioru</label>
      <input type="text" class="form-control" id="newacion-name" placeholder="">
    </div>
    <div class="form-group">
      <label for="newacion-name">Zasady</label>
      <input type="text" class="form-control" id="newacion-name" placeholder="">
    </div>
    <div class="form-group">
      <label for="newacion-name">Opis</label>
      <input type="text" class="form-control" id="newacion-name" placeholder="">
    </div>
    <div class="form-group">
      <label for="newacion-name">Możliwy odbiór</label>
      <input type="text" class="form-control" id="newacion-name" placeholder="">
    </div>
    <div class="form-group">
      <label for="newacion-name">Nazwa konta</label>
      <input type="text" class="form-control" id="newacion-name" placeholder="">
    </div>

    <!-- Pomocnicy, Produkty-->
  </form>