<div *ngIf="person">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/people">Użytkownicy</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ person.name }}</li>
        </ol>
    </nav>

    <h1>{{ person.name }}</h1>
    <div class="row">
        <div class="col-md-3">
            <img src="{{person.photoUrl}}" class="img-fluid" alt="Zdjęcie {{person.name}}">
        </div>
        <!--<div class="col-md-9">
            <dl class="inline-definition">
                <dt>Zaproszony przez:</dt>
                <dd>{{ person.invitedBy }}</dd>
                <dt>Telefon:</dt>
                <dd>{{ person.phone }}</dd>
                <dt>FB:</dt>
                <dd>{{ person.fbLink }}</dd>
                <dt>Utworzył akcji:</dt>
                    <dd>5 (w tym miesiącu: 1)</dd>
                <dt>Pomógł:</dt>
                    <dd>3 (w tym miesiącu: 1)</dd>
                <dt>Zamówił i nie zapłacił:</dt>
                    <dd>2 (w tym miesiącu: 0)</dd>
            </dl>
        </div>-->
    </div>
</div>