<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Użytkownicy</li>
    </ol>
</nav>

<h1>Użytkownicy</h1>
<p>Dane dla ostatnich trzech miesięcy</p>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Zdjęcie</th>
            <th>Login</th>
            <th>Zorganizowanych akcji</th>
            <th>Pomagał</th>
            <th *ngIf="isAdmin()"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of people | paginate: { itemsPerPage: 25, currentPage: page }">
            <td class="photo-column">
                <img src="{{person.photoUrl}}" class="user-img" alt="Zdjęcie profilowe {{person.name}}"> 
            </td>
            <td>
                <a routerLink="/person/{{person.id}}">{{person.name}}</a>
            </td>
            <td>{{person.organizedActionsCount}}</td>
            <td>{{person.helpedCount}}</td>
            <td *ngIf="isAdmin()">
                <button class="btn btn-success">Zrób administratorem</button>&nbsp;
                <button class="btn btn-danger">Usuń użytkownika</button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="pageChangeAction($event)"></pagination-controls>