<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Użytkownicy</li>
    </ol>
</nav>

<h1>Użytkownicy</h1>
<div class="row mb-4" *ngFor="let person of people | paginate: { itemsPerPage: 25, currentPage: page }">
    <div class="col-md-3 col-lg-1">
        <img src="{{person.photoUrl}}" class="img-fluid" alt="Zdjęcie profilowe {{person.name}}"> 
    </div>
    <div class="col-md-9 col-lg-11">
        <h2><a routerLink="/person/{{person.id}}">{{person.name}}</a></h2>
    </div>
</div>
<pagination-controls (pageChange)="pageChangeAction($event)"></pagination-controls>