<h1>Cześć, Agnieszka!</h1>
<h2 class="mt-4">Najbliższe odbiory: 23.04.2020<br>
    Masz do odbioru:</h2>
<table class="table">
    <thead>
        <th>Akcja</th>
        <th>Produkt</th>
        <th>Ile</th>
        <th>Do zapłaty</th>
    </thead>
    <tr>
        <td rowspan="2">Warzywa</td>
        <td>Pomidory</td>
        <td>3 x 1kg</td>
        <td>6zł</td>
    </tr>
    <tr>
        <td>Ogórki</td>
        <td>2 x 1szt</td>
        <td>3zł</td>
    </tr>
    <tr class="table-danger">
        <td colspan="2" >
            <strong>Termin zapłaty: 21.03 </strong>
        </td>
        <td>
            <svg class="bi bi-clock" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm8-7A8 8 0 110 8a8 8 0 0116 0z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M7.5 3a.5.5 0 01.5.5v5.21l3.248 1.856a.5.5 0 01-.496.868l-3.5-2A.5.5 0 017 9V3.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
            </svg>
            <strong> Do zapłaty:</strong>
        </td>
        <td><strong>9zł</strong></td>
    </tr>
    <tr>
        <td>Kremy</td>
        <td>Do rąk</td>
        <td>Tubka Rumianek</td>
        <td>26zł</td>
    </tr>
    <tr class="table-success">
        <td colspan="2">
            Termin zapłaty: 21.03 
        </td>
        <td>
            <svg class="bi bi-check-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z" clip-rule="evenodd"/>
            </svg>
            Zapłacone:
        </td>
        <td>26zł</td>
    </tr>
</table>
<h2 class="mt-4">Pomagasz w akcjach:</h2>
<table class="table">
    <thead>
        <th>Akcja</th>
        <th>Co robię?</th>
    </thead>
    <tr>
        <td>Warzywa</td>
        <td>Rozdaje</td>
    </tr>
    <tr>
        <td>Kosmetyki</td>
        <td>Rozlicza</td>
    </tr>
</table>
<h2>Zbliżające się akcje:</h2>
<div class="row">
    <div class="col-sm-6 col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/400x200">
            <div class="card-body">
                <h3 class="card-title">Warzywa u Uli</h3>
                <p class="card-text">Zamawiamy: <strong>3 dni</strong></p>
                <p class="card-text">Bierze udział: 56 osób</p>
                <a href="#" class="btn btn-primary">Zamawianie</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/400x200">
            <div class="card-body">
                <h3 class="card-title">Warzywa u Uli</h3>
                <p class="card-text">Zamawiamy: <strong>3 dni</strong></p>
                <p class="card-text">Bierze udział: 56 osób</p>
                <a href="#" class="btn btn-primary">Zamawianie</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/400x200">
            <div class="card-body">
                <h3 class="card-title">Warzywa u Uli</h3>
                <p class="card-text">Zamawiamy: <strong>3 dni</strong></p>
                <p class="card-text">Bierze udział: 56 osób</p>
                <a href="#" class="btn btn-primary">Zamawianie</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/400x200">
            <div class="card-body">
                <h3 class="card-title">Warzywa u Uli</h3>
                <p class="card-text">Zamawiamy: <strong>3 dni</strong></p>
                <p class="card-text">Bierze udział: 56 osób</p>
                <a href="#" class="btn btn-primary">Zamawianie</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/400x200">
            <div class="card-body">
                <h3 class="card-title">Warzywa u Uli</h3>
                <p class="card-text">Zamawiamy: <strong>3 dni</strong></p>
                <p class="card-text">Bierze udział: 56 osób</p>
                <a href="#" class="btn btn-primary">Zamawianie</a>
            </div>
        </div>
    </div>
</div>