<h1>Cześć, {{ auth.currentUser?.name }}! Najbliższe odbiory: {{ upcomingPickupDate ? dateHelper.prettyShortDate(upcomingPickupDate) : 'brak' }}</h1>
<h2 class="mt-4 mb-4 clearfix">
    Twoje zamówienia: <i *ngIf="loaderOrders" class="fas fa-circle-notch fa-spin"></i>
    <div class="float-right"><a class="btn btn-primary" routerLink="/myorders"><i class="fas fa-list"></i> Moje wszystkie zamówienia</a></div>
</h2>
<div class="row" *ngIf="(userOrders | async)?.length > 0">
    <ng-container *ngFor="let userOrder of userOrders | async">
        <div class="col-lg-6" *ngIf="userOrder.order">
            <div class="action-card">
                <div class="row">
                    <div class="col-md-3 img-container">
                        <img class="img-fluid" src="{{userOrder.action.photoUrl}}">
                    </div>
                    <div class="col-md-9">
                        <h3>
                            <a routerLink="/action/{{userOrder.action.id}}">{{userOrder.action.name}}</a>
                        </h3>
                        <p>{{printProducts(userOrder)}}</p>
                        <div *ngIf="userOrder.countSum(userOrder.action.products) > userOrder.order.paid">
                            <a href="#" class="btn btn-danger" (click)="open(paymentModal, userOrder.action)">
                                <i class="fas fa-dollar-sign"></i>&nbsp;<strong> Do zapłaty: {{ userOrder.countSum(userOrder.action.products) | price }}zł</strong>
                            </a>&nbsp;
                            <a routerLink="/action/{{userOrder.action.id}}/order" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Edytuj</a>
                        </div>
                        <div *ngIf="userOrder.countSum(userOrder.action.products) <= userOrder.order.paid" class="text-success">
                            <i class="fas fa-dollar-sign"></i>&nbsp;Zapłacone: <strong>{{ userOrder.countSum(userOrder.action.products) | price  }}zł</strong>&nbsp;
                            <a routerLink="/action/{{userOrder.action.id}}/order" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Edytuj</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<h2 class="mt-5 mb-4 clearfix">Pomagasz w akcjach: <i *ngIf="loaderHelpers" class="fas fa-circle-notch fa-spin"></i></h2>
<table class="table" *ngIf="(helperActions | async)?.length > 0">
    <thead>
        <th>Akcja</th>
        <th>Zamawiamy</th>
        <th>Płacimy</th>
        <th>Odbiór</th>
        <th>Co robię?</th>
    </thead>
    <tr *ngFor="let helperAction of helperActions | async">
        <td><a routerLink="/action/{{helperAction.action.id}}">{{ helperAction.action.name }}</a></td>
        <td title="{{ dateHelper.prettyLongDate(helperAction.action.orderDate) }}">{{ dateHelper.prettyShortDate(helperAction.action.orderDate) }}</td>
        <td title="{{ dateHelper.prettyLongDate(helperAction.action.payDate) }}">{{ dateHelper.prettyShortDate(helperAction.action.payDate) }}</td>
        <td title="{{ dateHelper.prettyLongDate(helperAction.action.collectionDate) }}">{{ dateHelper.prettyShortDate(helperAction.action.collectionDate) }}</td>
        <td>{{ helperAction.printDescriptions() }}</td>
    </tr>
</table>
<p *ngIf="(helperActions | async)?.length == 0">
    Nie pomagasz w żadnej akcji :(
</p>
<h2 class="mt-5 mb-4 clearfix">
    Zbliżające się akcje: <i *ngIf="loaderActions" class="fas fa-circle-notch fa-spin"></i>
    <div class="float-right">
        <a routerLink="/actions" class="btn btn-primary"><i class="fas fa-list"></i> Zobacz wszystkie akcje</a> 
    </div>
</h2>
<div class="row">
    <div class="col-md-6" *ngFor="let action of actions | async"> 
        <div class="action-card">
            <div class="row">
                <div class="col-md-4 img-container">
                    <img class="img-fluid" [src]="action.photoUrl">
                </div>
                <div class="col-md-8">
                    <h3><a routerLink="/action/{{action.id}}">{{ action.name }}</a></h3>
                    <p>Zamawiamy: <strong>{{ dateHelper.prettyShortDate(action.orderDate) }}</strong></p>
                    <a routerLink="/action/{{action.id}}/order" class="btn btn-primary"><i class="fas fa-gift"></i> Zamawianie</a>&nbsp;
                    <a routerLink="/action/{{action.id}}/orders" class="btn btn-primary"><i class="fas fa-table"></i> Tabelka</a>
                </div>
            </div>
        </div>
    </div>  
</div>
<ng-template #paymentModal let-modal>
    <div class="modal-header">
      <h2 class="modal-title" id="modal-basic-title">Płatność</h2>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p *ngIf="actionModal.payLock" class="alert alert-danger">
            Akcja ma zablokowane płaności na razie. Może to oznaczać, że ceny mogą zostać jeszcze zmienione.
        </p>
        <p>
            {{actionModal.payment}}
        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Zamknij</button>
    </div>
  </ng-template>