<h1>Cześć, Agnieszka! Najbliższe odbiory: 23.04.2020</h1>
<h2 class="mt-4 mb-4">Masz do odbioru:</h2>
<div class="row">
    <div class="col-lg-6 mb-5">
        <div class="row">
            <div class="col-sm-3 pr-0">
                <img class="img-fluid" src="http://picsum.photos/400/400">
            </div>
            <div class="col-sm-9">
                <h3>Warzywa</h3>
                <p>Pomidory, ogórki, kapusta</p>
                <p class="text-danger">
                    <svg class="bi bi-clock" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm8-7A8 8 0 110 8a8 8 0 0116 0z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M7.5 3a.5.5 0 01.5.5v5.21l3.248 1.856a.5.5 0 01-.496.868l-3.5-2A.5.5 0 017 9V3.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                    </svg>
                    <strong> Do zapłaty: 9zł</strong>
                </p>
                <div>
                    <a href="#" class="btn btn-secondary" (click)="open(paymentModal, 'Zapłać na konto Magdy milion złotych: 37463487348723463246868')">Zapłać</a>&nbsp;
                    <a href="#" class="btn btn-secondary">Edytuj</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-5">
        <div class="row">
            <div class="col-sm-3 pr-0">
                <img class="img-fluid" src="http://picsum.photos/400/401">
            </div>
            <div class="col-sm-9">
                <h3>Kosmetyki</h3>
                <p>Krem do rąk, szampon</p>
                <p class="text-success">
                    <svg class="bi bi-check-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z" clip-rule="evenodd"/>
                    </svg>
                    Zapłacone: <strong>30zł</strong>
                </p>
            </div>
        </div>
    </div>
</div>


<h2 class="mt-5 mb-4">Pomagasz w akcjach:</h2>
<table class="table">
    <thead>
        <th>Akcja</th>
        <th>Zamawiamy</th>
        <th>Płacimy</th>
        <th>Odbiór</th>
        <th>Co robię?</th>
    </thead>
    <tr>
        <td>Warzywa</td>
        <td>22.04</td>
        <td>25.04</td>
        <td>30.04</td>
        <td>Rozdaje</td>
    </tr>
    <tr>
        <td>Kosmetyki</td>
        <td>22.04</td>
        <td>25.04</td>
        <td>30.04</td>
        <td>Rozlicza</td>
    </tr>
</table>
<h2 class="mt-5 mb-4 clearfix">
    Zbliżające się akcje:
    <div class="float-right">
        <a routerLink="/actions" class="btn btn-success">Zobacz wszystkie akcje</a> 
    </div>
</h2>
<div class="row">
    <div class="col-sm-6 col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="http://picsum.photos/401/200">
            <div class="card-body">
                <h3 class="card-title"><a routerLink="/action/1">Warzywa u Uli</a></h3>
                <p class="card-text">Zamawiamy: <strong>3 dni</strong></p>
                <p class="card-text">Bierze udział: 56 osób</p>
                <a routerLink="/action/1/order" class="btn btn-primary">Zamawianie</a>&nbsp;
                <a routerLink="/action/1/orders" class="btn btn-primary">Tabelka</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="http://picsum.photos/400/201">
            <div class="card-body">
                <h3 class="card-title"><a routerLink="/action/1">Warzywa u Uli</a></h3>
                <p class="card-text">Zamawiamy: <strong>3 dni</strong></p>
                <p class="card-text">Bierze udział: 56 osób</p>
                <a routerLink="/action/1/order" class="btn btn-primary">Zamawianie</a>&nbsp;
                <a routerLink="/action/1/orders" class="btn btn-primary">Tabelka</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="http://picsum.photos/400/200">
            <div class="card-body">
                <h3 class="card-title"><a routerLink="/action/1">Warzywa u Uli</a></h3>
                <p class="card-text">Zamawiamy: <strong>3 dni</strong></p>
                <p class="card-text">Bierze udział: 56 osób</p>
                <a routerLink="/action/1/order" class="btn btn-primary">Zamawianie</a>&nbsp;
                <a routerLink="/action/1/orders" class="btn btn-primary">Tabelka</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="http://picsum.photos/399/200">
            <div class="card-body">
                <h3 class="card-title"><a routerLink="/action/1">Warzywa u Uli</a></h3>
                <p class="card-text">Zamawiamy: <strong>3 dni</strong></p>
                <p class="card-text">Bierze udział: 56 osób</p>
                <a routerLink="/action/1/order" class="btn btn-primary">Zamawianie</a>&nbsp;
                <a routerLink="/action/1/orders" class="btn btn-primary">Tabelka</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="http://picsum.photos/400/199">
            <div class="card-body">
                <h3 class="card-title"><a routerLink="/action/1">Warzywa u Uli</a></h3>
                <p class="card-text">Zamawiamy: <strong>3 dni</strong></p>
                <p class="card-text">Bierze udział: 56 osób</p>
                <a routerLink="/action/1/order" class="btn btn-primary">Zamawianie</a>&nbsp;
                <a routerLink="/action/1/orders" class="btn btn-primary">Tabelka</a>
            </div>
        </div>
    </div>
</div>
<ng-template #paymentModal let-modal>
    <div class="modal-header">
      <h2 class="modal-title" id="modal-basic-title">Płatność</h2>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{payment}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Zamknij</button>
    </div>
  </ng-template>