<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Akcje</li>
    </ol>
</nav>

<h1>Akcje</h1>
<div class="action-card"  *ngFor="let action of actions | async | paginate: { itemsPerPage: 25, currentPage: page }">
    <div class="row">
        <div class="col-md-3 img-container">
            <img src="{{action.photoUrl}}" alt="Zdjęcie {{action.name}}" class="img-fluid"> 
        </div>
        <div class="col-md-9">
            <h2><a routerLink="/action/{{action.id}}">{{action.name}}</a></h2>
            <div>Data zamawiania: <strong>{{dateHelper.prettyDate(action.orderDate)}}</strong></div>
            <div>Data płacenia: <strong>{{dateHelper.prettyDate(action.payDate)}}</strong></div>
            <div>Data odbioru: <strong>{{dateHelper.prettyDate(action.collectionDate)}}</strong></div>
        </div>
    </div>
</div>
<pagination-controls (pageChange)="pageChangeAction($event)"></pagination-controls>