<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Akcje</li>
    </ol>
</nav>

<h1 class="mb-3">Akcje</h1>
<nav class="navbar navbar-expand navbar-light bg-light mb-4">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <span>Sortowanie:</span>&nbsp;
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{ selectedSorting.label }}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <button ngbDropdownItem *ngFor="let option of sortingOptions" (click)="sort(option)">{{ option.label }}</button>
                </div>
            </div>
        </li>
        <li class="nav-item ml-3">
            <span>Pokaż:</span>&nbsp;
            <button *ngIf="!showArchived" (click)="switchArchived(true)" class="btn btn-outline-primary">
                <i class="fas fa-check-square"></i>
                tylko aktywne akcje
            </button>
            <button *ngIf="showArchived" (click)="switchArchived(false)" class="btn btn-outline-primary">
                <i class="fas fa-square"></i>
                wszystkie akcje
            </button>
        </li>
        <li class="nav-item ml-3">
            <div class="input-group">
                <label for="filterText" class="col-form-label">Filtruj (TODO): &nbsp;</label>
                <input type="text" (change)="filterTextChange()" [(ngModel)]="filterText" class="form-control" id="filterText">
            </div>
        </li>
    </ul>
</nav>
<div class="action-card"  *ngFor="let action of actions | async | paginate: { itemsPerPage: 25, currentPage: page }">
    <div class="row">
        <div class="col-md-3 img-container">
            <img *ngIf="action.photoUrl" src="{{action.photoUrl}}" alt="Zdjęcie {{action.name}}" class="img-fluid"> 
        </div>
        <div class="col-md-9">
            <h2><a routerLink="/action/{{action.id}}">{{action.name}}</a></h2>
            <div>Utworzono: <strong>{{dateHelper.prettyDate(action.createdOn)}}</strong></div>
            <div>Data zamawiania: <strong>{{dateHelper.prettyDate(action.orderDate)}}</strong></div>
            <div>Data płacenia: <strong>{{dateHelper.prettyDate(action.payDate)}}</strong></div>
            <div>Data odbioru: <strong>{{dateHelper.prettyDate(action.collectionDate)}}</strong></div>
        </div>
    </div>
</div>
<pagination-controls (pageChange)="pageChangeAction($event)"></pagination-controls>