<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Moje zamówienia</li>
    </ol>
</nav>

<h1>Moje zamówienia</h1>
<div class="row mb-4">
    <div class="col-md-6" *ngFor="let order of orders | paginate: { itemsPerPage: 25, currentPage: page }">
        <div class="action-card">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{order.action.photoUrl}}" alt="Zdjęcie {{order.action.name}}" class="img-fluid"> 
                </div>
                <div class="col-md-8 pl-0">
                    <h3><a routerLink="/action/{{order.action.id}}">{{order.action.name}}</a></h3>
                    <div>Data zamawiania: <strong [title]="dateHelper.prettyLongDate(order.action.orderDate)">{{dateHelper.prettyShortDate(order.action.orderDate)}}</strong></div>
                    <div>Data płacenia: <strong [title]="dateHelper.prettyLongDate(order.action.payDate)">{{dateHelper.prettyShortDate(order.action.payDate)}}</strong></div>
                    <div>Data odbioru: <strong [title]="dateHelper.prettyLongDate(order.action.collectionDate)">{{dateHelper.prettyShortDate(order.action.collectionDate)}}</strong></div>
                    <div>
                        <a href="#" class="btn btn-secondary" (click)="openModal(paymentModal, order.action.payment)">Zapłać</a>&nbsp;
                        <a href="#" class="btn btn-secondary">Edytuj</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<pagination-controls (pageChange)="pageChangeAction($event)"></pagination-controls>

<ng-template #paymentModal let-modal>
    <div class="modal-header">
      <h2 class="modal-title" id="modal-basic-title">Płatność</h2>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{payment}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Zamknij</button>
    </div>
  </ng-template>